h1 {
font-size: 45px;
color: #DC134C
}
e {
  font-size: 10px;
  color: #894961
}
img{
    height: 150px;
    width: 15%;
    background-color: powderblue;
}
f { font-size: 30px;
}
K { font-size: 25px;
}
l { font-size: 30px;
}